.real-container {
  display: flex;
  margin: 1rem;
  flex: 1;
  gap: 10px;
  height: 100vh;
}

.adv-container {
  flex: 1;
  background-color: aqua;
  text-align: center;
  border-radius: 5px;
}
.middle-container {
  flex: 5;
  display: flex;
  flex-direction: column;
  /* background-color: rebeccapurple; */
  text-align: center;
}
.search {
  /* height: 50px; */
  flex: 1;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 3px;
  box-shadow: 0px 1px 4px black;

}
.recommended {
  /* height: 150px; */
  flex: 2;

  /* background-color: yellowgreen; */
  /* border: 1px solid black; */
  border-radius: 3px;

  margin-top: 15px;
  margin-bottom: 15px;
}
.items {
  flex: 5;
  border-radius: 3px;
  box-shadow: 0px 2px 8px black;
  margin-top: 0;
  background-color: lightgoldenrodyellow;


  /* display: flex;
  flex-direction: column;
  top: 0; */
}


@media (max-width: 480px) {
  .main-container {
    flex-direction: column;
  } .search {
    width: 60%;
  }
  
}
@media (max-width: 880px) {
  .adv-container {
    display: none;
  }
}
@media (max-width: 748px) {
  .search {
    width: 80%;
  }
}
