.footer-container{
    height:30vh;
    /* background: #dddddd    ; */
    background-color: #0f172a;

    box-shadow: 1px 1px 7px black;
    display: flex;
    justify-content: space-around;
    /* align-items: end; */
    /* padding: 250px; */
}

.rightSide{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    color: white;
}
.middleSide{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    color: white;
}

@media (max-width : 768px) {
    .middleSide{
        display: none;
    }
}