.main-container {
  height: 100vh;
  /* margin-top: 58px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
}

.adv-section {
  height: 200px;
  width: 90%;
  border-radius: 5px;
  margin: 8px 12px;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Add a box shadow */

  
}
.contextadv{
  margin:12px;
  padding: 12px;
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  
}

.hero-section {
  display: flex;
  width: 90%;

  margin: 1rem;
  height: 350px;
  padding: 0.25rem;
  /* margin: 2rem; */
}
.hero-item {
  flex: 1;
  /* border: 1px solid red; */
  /* border-radius: 2rem; */

  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Optionally center text horizontally */
  height: 100%; /* Ensure the image covers the entire container */
  margin: 5px 5px;
  position: relative; /* Added for positioning the button */
  border-radius: 2rem;

  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5); /* Add a box shadow */
}

.hero-content {
  position: relative; /* Added for positioning the button */
}

.hero-image {
  width: 100%; /* Ensure the image covers the entire container */
  height: 400px; /* Ensure the image covers the entire container */
  border-radius: 2rem;
  object-fit: cover; /* Maintain aspect ratio and cover container */
}
.hero-button-1 {
  /* margin-top: 1rem; */
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);

  padding: 8px 20px;
  background-color: #fefefe;
  border: 1px solid black;
  /* background-color: rgb(52, 240, 52); */
  color: black;
  /* border: none; */
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.hero-button-2 {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  font-size: 18px;

  /* margin-top: 1rem; */
  padding: 8px 20px;
  background-color: rgb(218, 48, 48);
  color: white;
  /* border: none; */
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  cursor: pointer;
}

.adv-button{
  margin-top: 36px;
  cursor: pointer;
  padding: 4px 10px;
  font-weight: bold;
  width: 10%;
  border-radius: 5px;
  border:1px solid black
  /* {marginTop:36, cursor:'pointer',padding:'4px 10px',fontWeight:'bold',width:'10%',borderRadius:5,border:'2px solid black' */
}

.hero-button-1:hover {
  background-color: transparent;
  color: black;
}
.hero-button-2:hover {
  background-color: transparent;
  color: black;
}

@media (max-width: 480px) {
  .hero-section {
    flex-direction: column;
    height: 500px;
  }
  .hero-item {
    height: 250px;
  }
  .hero-image {
    height: 250px;
  }
}
@media (max-width: 748px) {
  .adv-button{
    /* margin-top: 0px;
    padding: 4px; */
    align-items: center;
    padding: 8px;
    width: 20%;

  }
  .contextadv{
    margin: 0px;
    padding: 0px;
  }
  .adv-section{
    height: 250px;
  }
}

@media (max-width:400px){
  .adv-section{
    height: 300px;
  }
}